<tr>
  <td><%= avatar_tag user, { size: 40 }, { class: 'circle' } %></td>
  <td><%= user.email %></td>
  <% @project.server_groups.each do |server_group| %>
    <td><%= user.role_in(server_group) %></td>
  <% end %>
</tr>
