<div class="section">
  <a class='dropdown-button btn' href='#' data-activates='project-actions'><%= @project.name %></a>

  <!-- Dropdown Structure -->
  <ul id='project-actions' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Delete', project_path, method: :delete, remote: true, class: 'red white-text', data: { confirm: 'Are you sure delete this project?' } %>
    </li>
  </ul>
</div>
