<div class="section">
  <div class="row">
    <code>
      #! /bin/bash
      <br/>
      curl -k "http://keyhub.dev/installer.sh" | api_key="<%= @server_group.api_key %>" sudo -sE
    </code>
  </div>
</div>
